.team {
    &__member {
        width: 30%;
        @media screen and (max-width: $first-break-max) {
            width: 45%;
        }
        @media screen and (max-width: $mobile-break-max) {
            width: 100%;
        }
        background: $color-black;
        h2,
        p,
        a,
        h3,
        h4 {
            padding-left: 0;
            color: white;
            &::before {
                content: unset;
            }
        }
        &__popup {
            //display: block;
        }
        &__heading {
            padding: 25px;
            &__name {
                text-transform: uppercase;
                font-weight: 700;
            }
            &__title {
                color: $color-offwhite !important;
                text-transform: uppercase;
            }
        }
        &__image {
            width: 100%;
            object-fit: cover;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
}

.team__container {
    display: flex;
    flex-wrap: wrap;
}
/**
 * Modal Popup Styling
 */
body.modal-active {
    overflow: hidden;
}
.modal {
    background-color: #fff;
    position: fixed;
    z-index: -1;
    width: 1220px;
    max-width: 90%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 48px;
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll;
    max-height: 80%;
    border: none;

    &__container {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        @media screen and (max-width: $mobile-break-max) {
            flex-direction: column;
            gap: 5px;
        }
    }

    &__content {
        width: 60%;
        @media screen and (max-width: $mobile-break-max) {
            width: 100%;
        }
        h2 {
            color: $color-blue;
            padding-left: 0;
            &::before {
                content: unset;
            }
        }
        &__heading {
            &__title {
                color: $color-black;
            }
        }
    }

    &__picture {
        width: 40%;
        margin-right: 50px;
    }
    .container {
        max-width: 100%;
    }
    .inner-wrap {
        display: flex;
    }
    .left-content {
        width: 250px;
        text-align: center;
    }
    .right-content {
        width: calc(100% - 250px);
        padding-right: 72px;
        padding-left: 6%;
    }
    img {
        display: block;
        width: 100%;
        margin: 0 0 12px;
    }

    .modal-content {
        padding-bottom: 80px 64px;
    }

    @media screen and (max-width: $second-break) {
        width: 90%;
        .container {
            padding: 0;
        }
        .inner-wrap {
            display: block;
        }
        .left-content {
            width: 100%;
            margin-bottom: 18px;

            img {
                max-width: 300px;
                margin: 0 auto 12px;
            }
        }
        .right-content {
            width: 100%;
            padding: 0 24px 32px;
        }
    }
    @media screen and (max-width: $mobile-med) {
        .modal-content {
            font-size: 16px;
        }
    }
    @media screen and (max-width: $mobile-small) {
        top: 5%;
        width: 94%;
        max-width: 94%;
        padding: 32px;
    }
    .close-button {
        background: $color-lightblue;
        border-radius: 50%;
        position: absolute;
        z-index: 5;
        top: 18px;
        right: 24px;
        display: inline-block;
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;

        &:before,
        &:after {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 5px;
            background-color: $color-blue;
        }

        &:before {
            content: '';
            position: absolute;
            top: 19px;
            left: 10px;
            transform: translate3d(0, 0, 0) rotate(-45deg);
        }

        &:after {
            content: '';
            position: absolute;
            top: 27px;
            left: 11px;
            transform: translate3d(0, -8px, 0) rotate(45deg);
        }

        &:hover,
        &:focus {
        }
    }

    /* Animation effect for modal */
    &.modal-open {
        z-index: 202;
        opacity: 1;
        pointer-events: visible;
        transition: opacity 450ms ease;

        .inner-wrap {
            transform: translateY(0);
            opacity: 1;
            pointer-events: visible;
            transition: all 850ms 50ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    /* Animation effect for outgoing modal */
    &.modal-close {
        opacity: 0;
        pointer-events: hidden;
        transition: opacity 450ms ease;

        .inner-wrap {
            transform: translateY(-40px);
            opacity: 0;
            pointer-events: hidden;
            transition: all 850ms 50ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

/* Stop scrolling when modal active */
// body.modal-active {
//     overflow: hidden;
// }

/* Show navigation overlay */
body.modal-active .navigation-overlay {
    opacity: 0.6;
    visibility: visible;
    z-index: 201;
}
