/* Toggles */
$color-toggle: white;
$color-text: #fff;

.toggles {
    background: $color-blue;
    &__content {
        color: white !important;
    }
    .toggle {
        // margin: 0 0 8px;
        // padding: 0 0 2px 0;
        margin-bottom: 0;
        width: 100%;
        border-top: 1px solid $color-lightblue;

        &__trigger {
            background: transparent;
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            border: none;
            padding: 10px 60px 10px 0px;
            text-align: left;

            color: white;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;

            h3 {
                background: transparent;
                display: block;
                position: relative;
                width: 100%;
                height: auto;
                border: none;
                text-align: left;
                padding: 5px 0;
                margin: 0;
                pointer-events: none;
                color: white;
                text-decoration: none;
                font-weight: bold;
                text-transform: capitalize;
            }

            &:hover,
            &:focus {
            }

            &-text {
                pointer-events: none;
            }

            &-icon {
                display: block;
                background: transparent;
                position: absolute;
                top: 0;
                left: initial;
                right: 0;
                width: 45px;
                height: 100%;

                color: $color-lightblue;
                font-size: 26px;
                line-height: 52px;
                text-align: center;
                transition: color 0.3s ease-in-out;
                pointer-events: none;

                &:before {
                    content: '+';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 50px;
                }
            }
        }

        &__box {
            overflow: hidden;
            padding: 20px;
            color: white;
            h4 {
                color: #bdd6e6;
                font-style: italic;
                font-weight: 600;
                font-size: 24px;
            }
            strong,
            em {
                color: $color-offwhite;
            }
            a {
                color: white;
            }
        }

        &--active {
            .toggle {
                &__trigger-icon {
                    &:before {
                        content: '-';
                    }
                }
            }
        }
    }
}
