/* Set your primary colors here */
$color-background: #fff;
$color-blue: #003c71;
$color-lightblue: #7bafd4;
$color-offwhite: #bdd6e6;
$color-black: #1d252d;

/* Make sure to set this*/
$color-main: $color-blue;

/* typical text color */
$color-text: $color-black;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$color-link: $color-blue;
$color-linkhover: $color-blue;
