/* Numbered pagination */
.blog-listing {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 50px;
    @media (max-width: $first-break-max) {
        flex-direction: column;
        gap: 25px;
    }

    &__header {
        &__time {
        }
        a {
            text-decoration: none;
        }
        .categories {
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__title {
            font-weight: 600 !important;
            text-decoration: none;
            margin-bottom: 5px;
        }
    }

    &__figure {
        margin-top: 0;
        @media (max-width: $first-break-max) {
            max-height: unset;
        }
        flex-basis: 40%;
        img {
            max-height: 300px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__content {
        flex-basis: 60%;
        text-align: left;
        // @media (min-width: $second-break) {
        //     width: 65%;
        // }
        h2 {
            color: $color-blue;
            &::before {
                content: unset;
            }
        }
    }

    &__button {
        margin: 25px 0;
        //     position: relative;
        //     color: $white;
        //     display: inline-block;
        //     padding: 10px 25px;
        //     @include gradient-darkblue;
        //     border-radius: 30px;
        //     border: none;
        //     transition: 0.25s ease !important;
        //     margin-top: 15px;
        //     text-transform: capitalize !important;
        //     min-width: 125px;
        //     text-align: center;
        //     &:hover {
        //         margin-left: 50px;
        //         &::before {
        //         }
        //     }
        //     &:focus {
        //         box-shadow: none;
        //     }

        //     &::before {
        //         content: '';
        //         background: $orange;
        //         border-radius: 30px;
        //         position: absolute;
        //         top: 0;
        //         left: -10px;
        //         height: 100%;
        //         width: 100%;
        //         z-index: -1;
        //     }
    }

    // & + & {
    //     margin-top: $spacing-sm;
    //     padding-top: $spacing-sm;
    // }
}
.blog-pagination {
    padding: 50px 0;
    &__navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    ul {
        position: relative;
        float: right;
        margin: $spacing-sm 0 0;
        padding: 0;
    }

    li {
        float: left;
        list-style-type: none;
        margin-right: 8px;

        &:before {
            display: none;
        }

        span.current,
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            padding: 4px 8px;
            color: #000;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
        }

        a:not(.next, .prev) {
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: #fff;
                border-radius: 50%;
                position: relative;
                &::before {
                    content: '';
                    background: $color-blue;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }

        span.current {
            color: #fff;
            border-radius: 50%;
            position: relative;
            &::before {
                content: '';
                background: $color-blue;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
    }
}

.blog-listing {
    text-align: center;
    padding: 25px 0;

    &__button {
        margin-top: $spacing-xs;
        margin-bottom: 0;
    }

    & + & {
        border-top: 1px solid $color-lightblue;
        margin-top: $spacing-sm;
        padding-top: $spacing-sm;
    }
}
